<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel ='stylesheet' href="/static/home.css/">
</head>
<body>
<header class="header">

    <a href="#" class="logo">Portfolio</a>

      <i class='bx bx-menu' id ='menu_icon'></i>


    <nav class="navbar">

     <a href="#home" class="active">home</a>
     <a href="#about" >about</a>
     <a href="#service" >Services</a>
     <a href="#portfolio" >Portfolio</a>
     <a href="#contact" >contact</a>

</nav>
</header>
<section class="home" id ="home">
    <div class = 'home-content'>
        <h3>Hello it's me</h3>
        <h1>Khant KO KO</h1>
        <h3>And I'm  a <span class="multiple-text"></span></h3>
        <p>I'm from Myanmar </p>
        <div class="socialMedia">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>

        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
     <div class="home-img">
         <img src="" alt="photo">
     </div>

</section>
{#section about#}
<section class="about" id ="about">
  <div class="about-img">
    <img src="kkk1.png" alt="">
  </div>

    <div class="about-content">
        <h2 class="heading">about <span>Me</span></h2>
        <h3 >BackEnd Developer</h3>
        <p>bla bla bla......</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>
<section class="service" id = "service">
    <h2 class="heading">Our <span>Service</span> </h2>
       <div class="service-container">
           <div class="service-box">
               <i class='bx bx-code-alt'></i>
               <h3>webDevelopment</h3>
               <p>bla bla bla bla</p>
               <a href="#" class ="btn">Read More</a>
           </div>

           <div class="service-box">
              <i class='bx bx-bar-chart'></i>
               <h3>sale&Marketing</h3>
               <p>bla bla bla bla</p>
               <a href="#" class ="btn">Read More</a>
           </div>



           <div class="service-box">
               <i class='bx bx-code-alt'></i>
               <h3>webDevelopment</h3>
               <p>bla bla bla bla</p>
               <a href="#" class ="btn">Read More</a>
           </div>

       </div>
</section>

<section class="portfolio" id="portfolio">
    <h2 class="heading">latest<span>Project</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>

        <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>

        <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>
          <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>
        <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>
        <div class="portfolio-box">
            <img src ='html.png' alt="photo">
               <div class="portfoliolayer">
                   <h4>webDesign</h4>
                   <p>bla bla bla bla</p>
                   <a href="#"><i class='bx bx-link-external'></i></a>

               </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
      <form action="#">
         <div class="input-box">
             <input type="text" placeholder="FullName">
             <input type="email" placeholder="Email Address">
         </div>
         <div class="input-box">
             <input type="number" placeholder="Mobile-Number">
             <input type="text" placeholder="Email Subject">
         </div>
            <textarea name ="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
            <input type="submit" value="Send Message" class="btn">
      </form>
</section>
   <footer class="footer">
       <div class="footer-text">
           <p>copyright &copy;2023 by KKK| All Right Reserved</p>
       </div>
       <div class="footer-iconTop">
           <a href="#home"><i class='bx bx-up-arrow-alt' ></i></a>
       </div>
   </footer>

{#!scroll Reval js#}

<script src="https://unpkg.com/scrollreveal"></script>
{#typed js#}
<script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>

{#custom js#}
<script type="text/javascript" src="/static/jT.js"></script>
</body>
</html>
